/Makefile
/Makefile.in
/freeciv-gtk3
/freeciv-gtk4
/freeciv-gtk3.22
/freeciv-sdl2
/freeciv-qt
/freeciv-stub
/.deps
/org.freeciv.gtk3.desktop
/org.freeciv.gtk322.desktop
/org.freeciv.sdl2.desktop
/org.freeciv.qt.desktop
/org.freeciv.gtk3.appdata.xml
/org.freeciv.gtk322.appdata.xml
/org.freeciv.sdl2.appdata.xml
/org.freeciv.qt.appdata.xml
/packhand_gen.c
/packhand_gen.h
