/Makefile.in
/Makefile
/.deps
/meta_requirers_dlg.cpp
/meta_ruledit_qt.cpp
/meta_tab_misc.cpp
/meta_tab_nation.cpp
/meta_tab_tech.cpp
/meta_tab_building.cpp
/meta_tab_unit.cpp
/freeciv-ruledit
/freeciv-ruledit.desktop
/freeciv-ruledit.appdata.xml
