/.deps
/Makefile
/Makefile.in
/meta_mpgui_qt.cpp
/meta_mpgui_qt_worker.cpp
/freeciv-mp-cli
/freeciv-mp-gtk3
/org.freeciv.mp.gtk3.desktop
/org.freeciv.mp.gtk3.appdata.xml
/freeciv-mp-gtk4
/org.freeciv.mp.gtk4.desktop
/org.freeciv.mp.gtk4.appdata.xml
/freeciv-mp-qt
/org.freeciv.mp.qt.desktop
/org.freeciv.mp.qt.appdata.xml
