Source: freeciv
Section: games
Priority: optional
Maintainer: Jules Bean <jules@debian.org>
Standards-Version: 3.0.1

Package: freeciv
Architecture: any
Depends: ${shlibs:Depends}
Recommends: freeciv-client
Description: A free Civilization clone for Unix and X.
 Freeciv is a clone of Civilization, distributed under the GPL and
 implemented for X.  Freeciv is a turn-based strategy game, in which
 each player becomes leader of a civilization, fighting to obtain
 the ultimate goal: The extinction of all other civilizations.
 .
 This package now contains only the server and common datafiles.

Package: freeciv-xaw3d
Architecture: any
Depends: freeciv (>= 1.10), xaw3dg (>=1.3-1), ${shlibs:Depends}
Provides: freeciv-client
Description: A free Civilization clone for Unix and X.
 Freeciv is a clone of Civilization, distributed under the GPL and
 implemented for X.  Freeciv is a turn-based strategy game, in which
 each player becomes leader of a civilization, fighting to obtain
 the ultimate goal: The extinction of all other civilizations.
 .
 This package contains only the civclient-xaw3d executable, which is
 compiled to run with the xaw3d version of the Athena libraries. You still
 need the freeciv package for the data files.

Package: freeciv-gtk
Architecture: any
Depends: freeciv (>= 1.10), ${shlibs:Depends}
Provides: freeciv-client
Description: A free Civilization clone for Unix and X.
 Freeciv is a clone of Civilization, distributed under the GPL and
 implemented for X.  Freeciv is a turn-based strategy game, in which
 each player becomes leader of a civilization, fighting to obtain
 the ultimate goal: The extinction of all other civilizations.
 .
 This package contains only the civclient-gtk executable, which is the GTK+
 version of the Freeciv client (so you get rid of xaw-variants problems).
 You still need the freeciv package for the data files.
