[Desktop Entry]
Name=Freeciv
Name[es]=Freeciv
Name[fr]=Freeciv
Name[no]=Freeciv
Name[pt]=Freeciv
Comment=Civilization(TM)-like game
Comment[pt]=Jogo similar ao Civilization
Exec=civclient-gtk
Icon=gnome-globe.png
Terminal=0
Type=Game
